<!DOCTYPE html>
<html>
<head>
  <title>Not Available</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/our-services">Our Services</a></li>
      <li><a href="/contact-us">Contact us</a></li>
    </ul>
  </nav>
  <h1>Not Available</h1>
  <p>Sorry, the web application is currently not available. Please try again during working hours (Monday to Friday, 9:00 AM to 5:00 PM).</p>
  <img src="/img/not-available.jpg" alt="Not Available image">
</body>
</html>
